{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create_ticket.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    {% from "_util.html" import render_field %}
<body>
    <div class="form-container">
        <h2 class="title is-4 has-text-centered">Edit Ticket</h2>
        <form action="" method="POST" id="UserForm" role="form">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Enter username" required value="{{ user[1] }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" name="email" placeholder="Enter email" required value="{{ user[2] }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Role</label>
                <div class="control">
                    <div class="select">
                        <select id="role" name="role">
                            <option value="" disabled selected>Select a role</option>
                            {% for role in roles %}
                                {% if role[0] == user[3] %}
                                    <option selected value={{ role[0] }} >{{ role[1] }}</option>
                                {% else %}
                                    <option value={{ role[0] }}>{{ role[1] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <input id="submit" name="submit" type="submit" value="Save user" class="button is-primary">
                <a href="{{ url_for('manage_users') }}" class="button is-light"> Cancel</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
