{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    {% from "_util.html" import render_field %}
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
        <h1>LOGIN</h1>
        {{ form.hidden_tag() }}
        {{ render_field(form.email, placeholder="email") }}
        {{ render_field(form.password, placeholder="password") }}
        <p><input class="btn btn-default btn-submit" type="submit" value="Login"></p>
        <a href="/register">Don’t have an account?</a><br>
    </form>


{% endblock %}